body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(192,192,192);
}
nav {
    display: flex;
    background-image:url(img/banner.jpeg);
    background-size: 100%;
    padding: 50px;
    justify-content: center;
    text-shadow: 1px 1px black;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color: white;
}
.subnav {
    background-color: rgba(0, 100, 255, 0.93);
   
}
ul.links {
    display: flex;
    margin:0px;
    padding: 20px;
    justify-content: space-evenly;
    list-style-type: none;
   
}
a.link{
    border: 1px solid white;
    padding:10px;   
    border-radius: 17%; 
    width: 50px;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
}
a.link:hover {
    border: 1px solid midnightblue;
    padding: 13px;
    color: midnightblue;
    background-color: white;
    opacity: .90;
}

article {
    display:flex;
    /* border:1px solid red; */
    flex-wrap: wrap;
    justify-content: space-evenly;

    
}
section.shop {
    /* border: dotted 1px grey; */
    border-radius: 5%;
    /* width: 30%; */
    align-content: center;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 4px;
    text-align: center;
    color: white;
    opacity: .67;
    font-size: 20px;
    margin-top: 10px;
    flex: 30% 1 0;
}

section.shop:hover, img.shop:hover {
    background-color: white;
    color: black;
    opacity: .67;
    border-radius:25%;
    font-style: italic;
    box-shadow: 1px 1px;
    border-image-width: 70%;
    transition: 1s;
    
    
}
img.shop{
    width:100%;
    border-radius: 30%;
    overflow: hidden;
    
}
/* img.shop:hover {
    width:70%;
    transition: 1s;
    overflow: hidden; */

/* section.shop h4 {
    color: midnightblue;
    position: relative;
    text-align: center;
} */


